body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #1be4c2;
    margin: 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cell {
    background-color: rgb(188, 219, 11);
    border: 2px solid rgb(13, 126, 218);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: rgb(236, 243, 237);
    border: none;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  